@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for light and dark mode */
@layer utilities {
  .bg-default-bg {
    background-color: #ffffff; /* Light mode background */
  }

  .bg-dark-bg {
    background-color: #000000; /* Dark mode background */
  }

  .text-light-text {
    color: #000000; /* Light mode text color */
  }

  .text-dark-text {
    color: #ffffff; /* Dark mode text color */
  }
}

/* Apply the classes based on mode */
body {
  @apply bg-default-bg font-sans text-light-text;
  scrollbar-width:none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-color: #888 #f0f0f0; /* Firefox scrollbar color */

}

.dark body {
  @apply bg-dark-bg text-dark-text;
}

.scrollbar-hide::-webkit-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
